<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mall.mapper.CollectionMapper">
    <delete id="deleteByUserId">
        delete
        from collection
        where user_id = #{id}
    </delete>
    <delete id="deleteByUserIdAndProductId">
        delete
        from collection
        where user_id = #{userId}
          and product_id = #{productId}
    </delete>
    <delete id="deleteCollectionByProductId">
        delete
        from collection
        where product_id = #{productId}
    </delete>
    <select id="collectionnumber" resultType="java.lang.Integer">
        select count(*)
        from collection
        where user_id = #{id}
    </select>
    <select id="getCollectionsByUserId" resultType="cn.mall.domain.Collection">
        select *
        from collection
        where user_id = #{id}
    </select>
    <select id="exist" resultType="cn.mall.domain.Collection">
        select *
        from collection
        where user_id = #{userId}
          and product_id = #{productId}
    </select>

</mapper>